body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.App{
  margin-top: 140px;
}
/* footer */
.FooterWrapper{
  background-color: #f5f5f5;
}
.MainFooter{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 4rem;
  padding-right: 10rem;
  gap: 40px;
}

.MainFooter>div>h4{
 margin-bottom: 30px;
}

.MainFooter>div>p{
  width: 100%;
  margin-bottom: 10px;
}

.IconsFooter{
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: space-evenly;
}

.lastDivFooter>p{
  margin-top: 20px;
  text-align: center;
}


/* Navabar Links */
.Links{
  text-decoration: none;
  color: black;
}
/* Home page css */

.best_sel_title{
  margin-top: 30px;
}
.best_sel_title p{
  text-align: center;
  font-family:"Baskerville No 2", serif;
  font-size: 37px;
}
.best_sel{

  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 20px;
  gap: 20px;

}
.best_sel_card>p{
  padding: 5px;
}
.best_sel_card{
  padding: 10px;
  text-align: center;
}
.best_sel_card>:nth-child(2){
  font-weight: 700;
}
.best_sel_card>:nth-child(3){
  color: #bf875d;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  opacity: 1;
}
/* Sign Up */
.form_container h1{
  text-align:center ;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
.form_container{
  width: 30%;
  margin: auto;
  margin-top: 170px;
}
.form_container form>:nth-child(odd) {
  letter-spacing: .3em;
  margin-top: 20px;
}
.form_container form>:nth-child(even){
  margin-top: 8PX;
  padding: 06px;
}
.form_container form button{
  background-color: #222222;
  color: white;
  text-transform: uppercase;
  width: 100%;
  padding: 10px;
}
/* mdb user css */
.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
